#search_area {
    background-color: $color-gray;
    padding: $pd-1 $pd-3;
    position: relative;
    i {
        margin-left: 20px;
        color: $color-blue-100;
        font-size: $fs-2;
    }
    input {
        width: 82%;
        height: 4.5rem;
        border: none;
        background-color: transparent;
        outline: none;
        padding: 0 $pd-2;
        font-size: $fs-2;
        color: $color-blue-100;
        &::placeholder {
            font-size: $fs-2;
            font-weight: lighter;
        }
    }
    &::after {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        border-bottom: 15px solid #f6f6f6;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        top: -15px;
        right: 10px;
    }
}
#search_footer {
    @extend #search_area;
    display: flex;
    align-items: center;
    background-color: $color-white;
    padding: 0;
    border: 1px solid $color-gray-1;
    &::after {
        opacity: 0;
    }
    .search_footer {
        width: 80%;
    }
    .BackToTop {
        margin: 0;
        border-left: 1px solid $color-gray-1;
        height: 4.5rem;
        flex-grow: 1;
        font-size: $fs-1;
        a {
            width: 100%;
            color: $color-blue-200;
            cursor: pointer;
            text-decoration: none;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    @media screen and (max-width:1200px) {
        .search_footer{
            input{
                width: 79%;
            }
        }
    }
    @media screen and (max-width: 992px) {
        .search_footer{
            input{
                width: 70%;
            }
        }
    }
    @media screen and ((max-width: 768px))  {
        flex-direction: column-reverse;
        .search_footer{
            width: 100%;
            input{
                width: 70%;
            }
        }
        .BackToTop{
            width: 100%;
            border-left: none;
            border-bottom: 1px solid $color-gray-1 ;
        }
    }
    @media screen and (max-width:576px) {
        .search_footer{
            input{
                width: 55%;
            }
        }
    }
}
