#search_area{
    background-color: $color-gray;
    padding: $pd-1 $pd-3;
    position: relative;
    i{
        color: $color-blue-100;
        font-size: $fs-2;
    }
    input{
        width: 90%;
        height: 4.5rem;
        border: none;
        background-color: transparent;
        outline: none;        
        padding: 0 $pd-2;
        font-size: $fs-2;
        color: $color-blue-100;
        &::placeholder{
            font-size: $fs-2;
            font-weight: lighter;
        }
    }
    &::after{
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        border-bottom: 15px solid #f6f6f6;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        top: -15px;
        right: 10px;
    }
}