@each $stt,$bg-color in (1,#3C4C5C) (2,#5E5E5E) (3, #14409A) (4, #5C5c5c) (5, #C1787D) (6, #33569C){
    #img-#{$stt}{
        background: linear-gradient(to top,#F6F6F6 , #F6F6F6, #b8b0b0);
    }
    .vehicle_product:hover{
        #img-#{$stt}{
            background: linear-gradient(to top,#F6F6F6 , #F6F6F6, $bg-color);
        }
    }
}
@each $stt,$img in (1, banner-1) (2, banner-2) (3, banner-3) (4, banner-4) {
    #swiper_slider{
        .slider-#{$stt}{
            background-image: url(../../img/#{$img}.jpg);
            background-size: cover;
            background-position: center;
            @media screen and (max-width: 768px) {
                background-image: url(../../img/#{$img}-xs.jpg);
            }
        }
    }
}
@each $stt,$img in (1, item-1) (2, item-2) (3, item-3) (4, item-4){
    .function-item-#{$stt}{
        background: url(../../img/#{$img}.jpg);
        background-size: 120%;
        background-position: center 1rem;
        background-repeat: no-repeat;
    }
}
@each $stt, $img in (1, 3) (2, 4){
    .intro-#{$stt}{
        background-image: url("../../img/intro-#{$img}.jpg");
    }
}
