@mixin button($border,$bg, $color, $pd-y, $pd-x, $bg-hover, $color-hover, $border-hover){
    border: 2px solid $border;
    border-radius: 40px;
    background-color: $bg;
    color: $color;
    padding: $pd-y $pd-x;
    font-weight: bold;
    transition: 0.5s;
    &:hover{
        background-color: $bg-hover;
        color: $color-hover;
        border: 2px solid $border-hover;
    }
}
%arrowUp{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-bottom: 15px solid #f6f6f6;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    top: -15px;
    right: 10px;
}