//Color
$color-white: #fff;
$color-blue-100: #007cc3;
$color-blue-200: #2198dc;
$color-dark-blue-100: #00446b;
$color-dark-blue-200: #00324f;
$color-blue-overplay: rgba(0,67,108,0.8);
$color-orange-100: #ff4040;
$color-black: #000;
$color-gray: #f6f6f6;
$color-gray-1: #babcbf; 
$color-gray-2: #f5f5f5; 

//Font size
$fs-html: 16px;
$fs-1: 1.4rem;
$fs-2: 1.8rem;
$fs-3: 2.4rem;
$fs-4: 6rem;

//Font weight
$fw-normal: normal;
$fw-300: 300;

//Padding
$pd-1:6px;
$pd-2:15px;
$pd-3:20px;
$pd-4:25px;
$pd-5:30px;
$pd-6:50px;
$pd-7:5%;

//Margin
$mg-up: -5px;
$mg-up-3: -200px;
$mg-up-2: -2.7rem;
$mg-0: 5px;
$mg-1: 20px;
$mg-2: 30px;
$mg-3: 45px;
$mg-4: 60px;
$mg-5: 100px;


//Border
$border-1: 1px solid #4f91ca;
$border-2: .2rem solid #e5e5e5;